<footer class="main-container">
  <div class="main-container__content" fxLayout="column">
    <img src="assets/images/logo_1.png" alt="logo" (click)="goHome()">
    <div class="main-container__content__columns" fxLayout="row" fxLayoutAlign="space-between start">
      <div class="column">
        <div class="title">Navigation</div>
        <div class="link">Home</div>
        <div class="link">PC Components</div>
        <div class="link">Playstation Games</div>
        <div class="link">Xbox Games</div>
        <div class="link">Switch Games</div>
        <div class="link">Consoles & Accessories</div>
        <div class="link">Books & Guides</div>
        <div class="link">Vinyls</div>
        <div class="link">Collectibles</div>
        <div class="link">Services</div>
      </div>
      <div class="column">
        <div class="title">About Us</div>
        <div class="link">Terms & Conditions</div>
        <div class="link">Cookies</div>
        <div class="link">ANPC</div>
        <div class="link">SOL Platform</div>
      </div>
      <div class="column">
        <div class="title">My Account</div>
        <div class="link">Profile</div>
        <div class="link">Listings</div>
        <div class="link">Create An Account</div>
      </div>
      <div class="column">
        <div class="title">Support</div>
        <div class="link">support&#64;geek.trade</div>
        <div class="link">Leave Us A Message!</div>
      </div>

      <div class="column">
        <div class="title">Special Thanks To</div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/gaming" title="PC Icon">Freepik</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/playstation" title="Playstation Icon">pictogramer</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/xbox" title="Xbox Icons">Retinaicons</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/nintendo-switch" title="Nintendo Switch Icons">Good Ware</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/gamer" title="Console Icons">Smashicons</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/vinyl" title="Vinyl Icons">Those Icons</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/customer-service" title="Customer Service Icons">Icon home</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/vr-glasses" title="VR Glasses Icons">Cuputo</a></div>
        <div class="link"><a href="https://www.flaticon.com/free-icons/mainboard" title="Mainboard Icons">AB Design</a></div>
      </div>
    </div>
  </div>
</footer>
