.main-container {
  max-width: 1238px;
  width: 100%;
  height: 72px;
  margin: 0 auto;

  img {
    height: 24px;
    margin: auto 0;
    cursor: pointer;
  }

  &__options-container {
    margin: auto 0 auto auto;
  }
}
