.main-container {
  max-width: 500px;
  margin: 0 auto;
  height: auto;

  .category-card {
    cursor: pointer;
    margin-top: 24px;
    width: 140px;
    height: 180px;
    background-color: white;
    border-radius: 6px;
    padding: 12px;

    .image-container {
      border: 2px solid #3f51b5;
      padding: 16px;
      background-color: rgba(130,202,255, 0.3);
      border-radius: 22px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    .title {
      padding-top: 16px;
      text-align: center;
    }
  }
}

