

.header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.pages-container {
  min-height: 100vh;
  max-width: 1238px;
  margin: 82px auto 32px;
}

.base-panel {
  mat-dialog-container {
    display: flex;
    padding: 0;
  }

  mat-dialog-container > * {
    width: 100%;
  }
}
