<div class="main-container" fxLayout="column">
  <app-searchbar></app-searchbar>
  <div fxLayout="row">
    <img src="assets/images/geek_trade_logo.png" alt="" class="rounded-2xl">
    <div class="bg-white ml-2 rounded-2xl w-[400px] h-[435px] p-6">
      <h2 class="text-2xl text-blue-600 mb-2">Discover the Ultimate Gaming Experience</h2>
<span>Welcome to GeekTrade, your one-stop destination for all things gaming! Whether you're a console enthusiast, a PC master race devotee, or simply looking to upgrade your setup, we've got you covered. Explore our extensive collection of the latest video games, top-of-the-line consoles, and high-performance PC components. Our marketplace is designed to cater to gamers of all levels, ensuring you find exactly what you need to elevate your gaming experience to the next level.</span>
    </div>
  </div>

    <h1 class="text-3xl mb-2 ml-6 mt-20">Our categories</h1>

    <app-categories></app-categories>

    <h1 class="text-3xl mb-2 ml-6 mt-20">Latest listings</h1>
    <p-carousel
      [value]="products"
      [numVisible]="4"
      [numScroll]="3"
      [circular]="false"
      [responsiveOptions]="responsiveOptions" class="max-w-[880px]">
      <ng-template let-product pTemplate="item">
        <div class="border-1 rounded-xl m-2 p-3 bg-white w-[180px] h-[324px] cursor-pointer" (click)="goToListing(product.categoryId, product.listingId)">
          <div class="mb-3 justify-center items-center">
            <div class="relative rounded-xl">
              <img
                src="assets/mocks/{{ product.listingId }}.jpg"
                [alt]="product.name"
                class="w-[160px] h-[200px] border-round rounded-xl" />
              <p-tag
                value="NEW"
                severity="success"
                class="absolute"
                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
            </div>
          </div>
          <div class="mb-3 font-medium h-[52px]">
            {{ product.title }}
          </div>
          <div class="flex justify-content-between align-items-center">
            <div class="mt-auto font-semibold text-xl text-blue-600" [innerHTML]="product.price | price">
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>

  <h1 class="text-3xl mb-2 ml-6 mt-20">Listings on discount</h1>
  <p-carousel
    [value]="discounted"
    [numVisible]="4"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions" class="max-w-[880px]">
    <ng-template let-product pTemplate="item">
      <div class="border-1 rounded-xl m-2 p-3 bg-white w-[180px] h-[324px] cursor-pointer" (click)="goToListing(product.categoryId, product.listingId)">
        <div class="mb-3 justify-center items-center">
          <div class="relative rounded-xl">
            <img
              src="assets/mocks/{{ product.listingId }}.jpg"
              [alt]="product.name"
              class="w-[160px] h-[200px] border-round rounded-xl" />
            <p-tag
              value="SALE"
              severity="danger"
              class="absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
          </div>
        </div>
        <div class="mb-3 font-medium h-[52px]">
          {{ product.title }}
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div class="mt-auto font-semibold text-l text-red-500 line-through " [innerHTML]="product.price | price">
          </div>
          <div class="mt-auto font-semibold text-l text-blue-600" [innerHTML]="(product.price - (product.price/20)) | price">
          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

</div>
